/*== TYPOGRAPHY =====================================================*/
.game-title {
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  text-align: center;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 0.03em;
}

.time-displayed {
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  text-align: center;
  letter-spacing: 0.03em;
  color: #515151;
  margin-bottom: 30px;
}

.question-displayed {
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-align: left;
  letter-spacing: 0.03em;
  color: #515151;
}

.message-displayed {
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}

.score-header {
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #515151;
}

.score-displayed {
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}

/*== STYLES =========================================================*/
/*body {
  background-image: url(../assets/images/drips.jpg);
}*/

.container {
  padding: 50px;
}

.card {
  background-color: #ededed;
  padding: 40px;
  border-radius: 10px;
}

.game-title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.question-displayed {
  text-align: center;
  padding: 20px;
}

button:hover {
  background-color: #515151;
  color: #fff;
}

/*Incorrect guess*/
button.wrong-guess {
  border: 2px solid #f1472d;
}

/*correct guess*/

button.correct-answer {
  border: 2px solid #3ee179;
}

hr {
  border: .03em solid #515151;
}
