/*== TYPOGRAPHY =====================================================*/
.game-title {
  color: #fff;
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 0.03em;
  text-align: center;
}

.time-displayed {
  color: #fff;
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}

.question-displayed {
  color: #fff;
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
}

.message-displayed {
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-top: 15px;
  text-align: center;
}

.correct {
  color: #3ee179;
}

.wrong {
  color: #f1472d;
}

.no-answer {
  color: #e2d95c;
}

.score-header {
  color: #fff;
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
}

.score-displayed {
  font-family: 'Helvetica Neue', 'Arial', 'Courier', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

/*== STYLES =========================================================*/

.container {
  padding: 50px;
}

.card-background {
  background-image: url("../../assets/images/drips.jpg");
  background-size: cover;
  border-radius: 10px;
  opacity: 0.75;
}

.card-overlay {
  background-color: rgba(0,0,0,0.75);
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  padding: 40px;
}

.game-title {
  margin-bottom: 50px;
  margin-top: 50px;
}

.question-displayed {
  align-content: center;
  padding: 20px;
}

#answers {
  margin-top: 20px;
}

button {
  border: 2px solid #fff;
  color: #fff;
}

button:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}

/*Incorrect guess*/
button.wrong-guess {
  background-color: #f1472d;
  border: none;
  color: #fff;
}

/*correct guess*/

button.correct-answer {
  background-color: #3ee179;
  border: none;
  color: #fff;
}

hr {
  border: .03em solid #fff;
}
